// Font sizing
$font-size-normal: 14px; // Default font size
$font-size-huge: 1.286em; // 18px
$font-size-big: 1.143em; // 16px
$font-size-small: 0.786em; // 11px
$font-size-extra-small: 0.643em; // 9px
